:root {
  --deep-blue: #0050fe;
  --light-grey: #a0a0a0;
  --dark-grey: #323232;
  --very-light-blue: #f6f9fe;
  --light-blue: #d6edff;
  --lime: #14c38e;
  --red: #b73e3e;
  --yellow: #fec260;
  --sm: 16px;
  --md: 24px;
  --lg: 32px;
  --xlg: 48px;
  --xxlg: 64px;
}

html {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: var(--xxlg);
  margin-bottom: 0;
  color: var(--dark-grey);
}

h2 {
  font-size: var(--xlg);
  color: var(--dark-grey);
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--light-grey);
  font-size: var(--md);
  z-index: 10;
}

select {
  border-radius: 0;
  width: 80%;
  font-weight: 500;
  font-size: var(--md);
}

footer {
  width: 100%;
  margin-top: 6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: block;
}

.nav-option {
  cursor: pointer;
}

.title {
  color: var(--deep-blue);
  font-size: var(--xlg);
  font-weight: 700;
}

.selected,
.nav-option:hover {
  color: var(--dark-grey);
  font-weight: 700;
}

.button {
  font-family: "Nunito", sans-serif;
  font-size: var(--md);
  background-color: var(--deep-blue);
  color: #fff;
  width: 12rem;
  height: 4rem;
  text-align: center;
  border-radius: 40px;
  border-style: none;
  z-index: 1;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: var(--deep-blue);
  border-style: solid;
  border-color: var(--deep-blue);
  box-shadow: 0 0 36px 1px rgba(0, 80, 254, 0.26);
  transition: 0.8s;
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
}

.company-info {
  display: flex;
}

.diamond {
  border-radius: 80px;
  background-color: var(--very-light-blue);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: absolute;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

.play-button {
  font-family: "Nunito", sans-serif;
  font-size: var(--md);
  background-color: var(--dark-grey);
  color: #fff;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 40px;
  border-style: none;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.play-button:hover {
  background-color: var(--deep-blue);
  box-shadow: 0 0 36px 1px rgba(0, 80, 254, 0.26);
  transition: 0.8s;
  transform: translate(0, -7px);
  -webkit-transform: translate(0, -7px);
  -o-transform: translate(0, -7px);
  -moz-transform: translate(0, -7px);
}

.drop-down-group {
  display: block;
  width: 25%;
}

.drop-down-group label {
  font-weight: 600;
}

.drop-down-group option {
  font-size: var(--md);
}

.drop-down {
  border-style: none;
  margin: 0;
  color: var(--light-grey);
  font-size: var(--sm);
}

.card {
  background-color: #fff;
  box-shadow: 0 11px 21px 1px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#open-menu,#closed-menu{
    display: none;
}
.service {
  width: 360px;
  height: 200px;
  padding: 20px;
}

.property {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 10px;
}
.property:hover {
  box-shadow: 0 0 36px 1px rgba(0, 80, 254, 0.26);
}

.service:hover {
  background-color: var(--deep-blue);
  box-shadow: 0 0 36px 1px rgba(0, 80, 254, 0.26);
  color: #fff;
}

.property_details {
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

.property_picture {
  width: 300px;
  height: 200px;
  background-color: #0050fe;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.section-header {
  text-align: center;
  width: auto;
}

.drop-down-group select {
  border: none;
  font-family: "Nunito";
  font-size: var(--md);
}

.footer-column hr {
  border-style: solid;
  border-width: 1px;
  width: 80%;
  opacity: 40%;
}

.white-logo {
  height: 150px;
}

.footer-nav-option {
  font-size: var(--md);
}

.footer-nav-item {
  display: flex;
}

#footer-section {
  top: 250px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: top;
  color: #fff;
}

#column-one {
  width: 30%;
  text-align: center;
}

#column-two,
#column-three,
#column-four,
#column-five {
  width: 15%;
}

#column-space {
  width: 10%;
}

#watch_video {
  padding-left: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--dark-grey);
  font-size: var(--md);
  z-index: 10;
}

#primary-header {
  width: 40%;
  padding-left: 70px;
  margin-top: 70px;
  margin-bottom: 100px;
}

#bio {
  color: var(--light-grey);
  font-size: var(--md);
  font-family: "Nunito", sans-serif;
  margin-bottom: 60px;
}

#diamond-one {
  width: 70rem;
  height: 70rem;
  left: 55%;
  top: -400px;
}

#diamond-two {
  width: 30rem;
  height: 30rem;
  left: 60%;
  top: -150px;
}

#diamond-three {
  width: 60rem;
  height: 60rem;
  left: 100%;
  top: -450px;
}

#diamond-four {
  width: 50rem;
  height: 50rem;
  left: 66%;
  top: 400px;
}

#diamond-five {
  width: 20rem;
  height: 20rem;
  left: 50%;
  top: 300px;
}

#diamond-six {
  width: 70rem;
  height: 70rem;
  left: -32%;
  top: 1200px;
}

#diamond-seven {
  width: 30rem;
  height: 30rem;
  left: -20%;
  top: 1100px;
}

#diamond-eight {
  width: 20rem;
  height: 20rem;
  left: 13%;
  top: 1250px;
}

#diamond-nine {
  width: 30rem;
  height: 30rem;
  left: -4%;
  top: 1550px;
}

#diamond-ten {
  width: 13rem;
  height: 13rem;
  border-radius: 60px;
  left: 25%;
  top: 1550px;
}

#diamond-eleven {
  width: 20rem;
  height: 20rem;
  left: -10%;
  top: 2070px;
}

#diamond-twelve {
  width: 70rem;
  height: 70rem;
  left: 80%;
  top: 2900px;
}

#logo {
  height: 50px;
  padding-right: 30px;
  display: none;
}

#left-nav {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center-nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

#space-nav {
  width: 10%;
}

#right-nav {
  width: 35%;
}

#getinfo {
  width: 15rem;
}

#search-section,
#client-email-section {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: var(--dark-grey);
  font-size: var(--md);
  z-index: 10;
  background-color: #fff;
  width: 80%;
  height: 10rem;
  border-radius: 100px;
  margin-top: 300px;
  box-shadow: 0 11px 21px 1px rgba(0, 0, 0, 0.19);
}

#search-section-items {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  text-align: left;
  width: 90%;
}

#client-email-section {
  width: 800px;
  height: 100px;
  margin: auto;
}

#client-email {
  font-size: var(--md);
  border: none;
  width: 500px;
}

#client-email:focus,
#client-email:active,
.drop-down-group:focus,
.drop-down-group:active,
.drop-down:focus,
.drop-down:active {
  border: none;
  outline: none;
}

#client-email::placeholder {
  color: var(--light-grey);
}

#secundary-header {
  left: 40%;
  width: 50%;
  padding-right: 70px;
  margin-top: 170px;
  margin-bottom: 100px;
  text-align: left;
  position: relative;
}

#third-section {
  padding-top: 400px;
  display: flex;
  justify-content: space-evenly;
}

#fourth-section {
  padding-left: 70px;
}

#fifth-section {
  padding-top: 100px;
}

#card_space,
#recently-properties {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding-top: 100px;
}

#card_space {
  width: 70%;
}

#card_icon {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--light-blue);
  color: var(--deep-blue);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 0 auto;
}

#card_tittle,
#property_name,
#property_price {
  font-size: var(--md);
  font-weight: 600;
}

#new_label {
  background-color: var(--lime);
  width: 100px;
  height: 40px;
  display: absolute;
  position: absolute;
  top: 30px;
  border-radius: 10px;
  font-weight: 600;
  left: 230px;
}

#onSale_label,
#rent_label {
  width: 120px;
  height: 40px;
  display: absolute;
  position: absolute;
  bottom: 20px;
  border-radius: 10px;
  font-weight: 600;
  left: -10px;
}

#rent_label {
  background-color: var(--yellow);
}

#onSale_label {
  background-color: var(--red);
}

#new_label label,
#onSale_label label,
#rent_label label {
  position: relative;
  align-items: center;
  top: 10px;
  color: #fff;
}

#property_price {
  position: absolute;
  align-items: right;
  bottom: 22px;
  right: 25px;
}

#viewProperty {
  color: var(--deep-blue);
  font-size: var(--md);
  position: absolute;
  right: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

#company-name {
  color: #fff;
}

#social-media i {
  margin-right: 10px;
}

#legal-info {
  background: none;
  height: 50px;
  display: flex;
  margin: 0px;
  background-color: var(--deep-blue);
  color: #ffffff60;
  text-decoration: none;
  border-top-color: #ffffff60;
  border-top-width: 2px;
  border-top-style: solid;
}

.legal-item {
  text-align: center;
  padding-top: 15px;
}
.legal-item:hover,
#legal-info a:hover {
  color: white;
}
#legal-info a {
  text-decoration: none;
  color: #ffffff60;
}
#developer {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 15%;
  padding-right: 15%;
}
#copyright {
  padding-left: 15%;
  width: 30%;
  display: flex;
}
#alternative-sendMail{
    display: none;
    width: 70px;
    align-items: center;
}
#alternative-sendMail i{
    margin: auto;
}
#social-media-two i{
    margin: 0px 10px;
}
