:root{
    --deep-blue: #0050FE;
    --light-grey: #A0A0A0;
    --dark-grey: #323232;
    --very-light-blue: #F6F9FE;
    --light-blue: #D6EDFF;
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
    --xlg: 64px;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
/*P A N T A L L A   G R A N D E */
h1{
    font-size: var(--xlg);
    margin-bottom: 0px;
    color: var(--dark-grey);
}
nav{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--light-grey);
    font-size: var(--md);
    z-index: 10;
}
.nav-option{
    cursor: pointer;
}
.title{
    color: var(--deep-blue);
    font-size: var(--lg);
}
.selected, .nav-option:hover{
    color: var(--dark-grey);
    font-weight: bold;
}
.button{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--md);
    background-color: var(--deep-blue);
    color: white;
    width: 12rem;
    height: 4rem;
    text-align: center;
    border-radius: 40px;
    border-style: none;
    z-index: 1;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: var(--deep-blue);
    border-style: solid;
    border-color: var(--deep-blue);
    box-shadow: 0px 0px 36px 1px rgba(0,80,254,0.26);
    transition: 0.8s;
    transform: translate(0,-7px);
    -webkit-transform: translate(0,-7px);
    -o-transform: translate(0,-7px); 
    -moz-transform: translate(0,-7px);
}
.company-info{
    display: flex;
}
.diamond{
    border-radius: 80px;
    background-color: var(--very-light-blue);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: absolute;
    position: absolute;
    background-size: cover;
    background-repeat:no-repeat; 
    background-position:center;
    z-index: -10;
}
.play-button{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--md);
    background-color: var(--dark-grey);
    color: white;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 40px;
    border-style: none;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.play-button:hover{
    background-color: var(--deep-blue);
    box-shadow: 0px 0px 36px 1px rgba(0,80,254,0.26);
    transition: 0.8s;
    transform: translate(0,-7px);
    -webkit-transform: translate(0,-7px);
    -o-transform: translate(0,-7px); 
    -moz-transform: translate(0,-7px);
}

#primary-header{
    width: 40%;
    padding-left: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#bio{
    color: var(--light-grey);
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 60px;
}
#diamond-one{
    width: 70rem;
    height: 70rem;
    left: 55%;
    top: -400px;
}
#diamond-two{
    width: 30rem;
    height: 30rem;
    left: 60%;
    top: -150px;
    background-image: url('/resources/a876bbae-15cc-11ed-861d-0242ac120002.png');

}
#diamond-three{
    width: 60rem;
    height: 60rem;
    left: 100%;
    top: -450px;
    background-image: url('/resources/7541b3b8-15ce-11ed-861d-0242ac120002.png');

}
#diamond-four{
    width: 60rem;
    height: 60rem;
    left: 66%;
    top: 400px;
    background-image: url('/resources/2c18b366-15ca-11ed-861d-0242ac120002.png'); 
}
#diamond-five{
    width: 20rem;
    height: 20rem;
    left: 50%;
    top: 300px;
    background-image: url('/resources/d55dc602-15cd-11ed-861d-0242ac120002.png');
}
#logo{
    height: 100px;
    padding-right: 30px;
}
#left-nav{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center-nav{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
#space-nav{
    width: 10%;
}
#right-nav{
    width: 35%;
}
#getinfo{
    width: 15rem;
}
#search-section{
    left: 10%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: var(--light-grey);
    font-size: var(--md);
    z-index: 10;
    background-color: var(--very-light-blue);
    width: 80%;
    height: 200px;
    border-radius: 100px;
    margin-top: 200px;
    box-shadow: 0px 0px 36px 1px rgba(0,80,254,0.26);
}
/*P A N T A L L A   M E D I A N A */
@media (max-width: 1000px) {
    
}
h1{

}